body{
	font-size: 40px;
}


.rem{
	font-size: 2rem; /* Rem, hereda del dispositivo o navegador */
	background-color: antiquewhite;
}

.em{
	font-size: 2em; /* Em, Hereda del padre más cercano, en este caso del body 22px */
	background-color: antiquewhite;
}

.px{
	font-size: 16px;
	background-color: antiquewhite;

}



.div-padre{
	font-size: 10px;
}